Задание 1. Загрузка данных

Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('horse_data.csv', header=None, usecols=[0, 1, 3, 4, 5, 6, 10, 22], names=['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome'], na_values='?')
df.head(10)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0

Задание 2. 

Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [ ]:
df.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [ ]:
for col in df:
  print(f'Максимум в столбце {col}: {df[col].max()}')
  print(f'Минимум в столбце {col}: {df[col].min()}')
  print(f'Размах в столбце {col}: {df[col].max() - df[col].min()}')
  print(f'Размах в столбце {col}: {df[col].max() - df[col].min()}')
  print(f'Среднее арифметическое в столбце {col}: {df[col].mean()}')
  print(f'Мода в столбце {col}: {df[col].mode()[0]}')
  print(f'Медиана в столбце {col}: {df[col].median()}')
  print(f'Стандартное отклонение в столбце {col}: {df[col].std()}')
  print(f'Дисперсия в столбце {col}: {df[col].var()}')
  print(f'Первый квартиль в столбце {col}: {df[col].quantile(0.25)}')
  print(f'Третий квартиль в столбце {col}: {df[col].quantile(0.75)}')
  iqr = df[col].quantile(0.75) - df[col].quantile(0.25)
  print(f'Межквартильный размах в столбце {col}: {iqr}', end='\n\n')

  lq = df[col].quantile(0.25) - (1.5 * iqr)
  hq = df[col].quantile(0.75) + (1.5 * iqr)

  df = df[df[col].notna()]

  remove_outliers = df[~df[col].between(lq, hq, inclusive=True)]
  print(f'Выбросы в столбце {col} {remove_outliers[col]}')

  print('---------------------------------------------------------', end='\n\n')

Максимум в столбце surgery?: 2.0
Минимум в столбце surgery?: 1.0
Размах в столбце surgery?: 1.0
Размах в столбце surgery?: 1.0
Среднее арифметическое в столбце surgery?: 1.3979933110367893
Мода в столбце surgery?: 1.0
Медиана в столбце surgery?: 1.0
Стандартное отклонение в столбце surgery?: 0.49030464432881815
Дисперсия в столбце surgery?: 0.24039864425040888
Первый квартиль в столбце surgery?: 1.0
Третий квартиль в столбце surgery?: 2.0
Межквартильный размах в столбце surgery?: 1.0

Выбросы в столбце surgery? Series([], Name: surgery?, dtype: float64)
---------------------------------------------------------

Максимум в столбце Age: 9
Минимум в столбце Age: 1
Размах в столбце Age: 8
Размах в столбце Age: 8
Среднее арифметическое в столбце Age: 1.6421404682274248
Мода в столбце Age: 1
Медиана в столбце Age: 1.0
Стандартное отклонение в столбце Age: 2.1772997793587714
Дисперсия в столбце Age: 4.740634329195755
Первый квартиль в столбце Age: 1.0
Третий квартиль в столбце Age: 1.0
Межквартильный размах в столбце Age: 0.0

Выбросы в столбце Age 3      9
9      9
13     9
16     9
23     9
39     9
41     9
55     9
74     9
75     9
82     9
103    9
109    9
135    9
191    9
212    9
227    9
229    9
244    9
252    9
255    9
262    9
275    9
287    9
Name: Age, dtype: int64
---------------------------------------------------------

Максимум в столбце rectal temperature: 40.8
Минимум в столбце rectal temperature: 35.4
Размах в столбце rectal temperature: 5.399999999999999
Размах в столбце rectal temperature: 5.399999999999999
Среднее арифметическое в столбце rectal temperature: 38.16861924686195
Мода в столбце rectal temperature: 38.0
Медиана в столбце rectal temperature: 38.2
Стандартное отклонение в столбце rectal temperature: 0.7337444096002365
Дисперсия в столбце rectal temperature: 0.5383808586195995
Первый квартиль в столбце rectal temperature: 37.8
Третий квартиль в столбце rectal temperature: 38.5
Межквартильный размах в столбце rectal temperature: 0.7000000000000028

Выбросы в столбце rectal temperature 20     39.9
44     35.4
54     40.3
75     39.7
80     36.4
91     40.3
99     39.6
118    36.5
141    36.0
238    36.1
251    36.6
259    40.8
281    40.0
298    36.5
Name: rectal temperature, dtype: float64
---------------------------------------------------------

Максимум в столбце pulse: 184.0
Минимум в столбце pulse: 30.0
Размах в столбце pulse: 154.0
Размах в столбце pulse: 154.0
Среднее арифметическое в столбце pulse: 70.3304721030043
Мода в столбце pulse: 48.0
Медиана в столбце pulse: 60.0
Стандартное отклонение в столбце pulse: 28.960403530009486
Дисперсия в столбце pulse: 838.7049726209859
Первый квартиль в столбце pulse: 48.0
Третий квартиль в столбце pulse: 88.0
Межквартильный размах в столбце pulse: 40.0

Выбросы в столбце pulse 3      164.0
41     150.0
55     160.0
255    184.0
275    150.0
Name: pulse, dtype: float64
---------------------------------------------------------

Максимум в столбце respiratory rate: 96.0
Минимум в столбце respiratory rate: 8.0
Размах в столбце respiratory rate: 88.0
Размах в столбце respiratory rate: 88.0
Среднее арифметическое в столбце respiratory rate: 30.57766990291262
Мода в столбце respiratory rate: 20.0
Медиана в столбце respiratory rate: 24.5
Стандартное отклонение в столбце respiratory rate: 18.311432825017768
Дисперсия в столбце respiratory rate: 335.3085721051381
Первый квартиль в столбце respiratory rate: 18.0
Третий квартиль в столбце respiratory rate: 36.0
Межквартильный размах в столбце respiratory rate: 18.0

Выбросы в столбце respiratory rate 3      84.0
39     96.0
41     72.0
82     80.0
84     80.0
103    68.0
106    96.0
120    66.0
125    68.0
186    90.0
208    80.0
229    70.0
244    88.0
255    84.0
269    90.0
Name: respiratory rate, dtype: float64
---------------------------------------------------------

Максимум в столбце temperature of extremities: 4.0
Минимум в столбце temperature of extremities: 1.0
Размах в столбце temperature of extremities: 3.0
Размах в столбце temperature of extremities: 3.0
Среднее арифметическое в столбце temperature of extremities: 2.2662721893491122
Мода в столбце temperature of extremities: 3.0
Медиана в столбце temperature of extremities: 3.0
Стандартное отклонение в столбце temperature of extremities: 1.0718746136450503
Дисперсия в столбце temperature of extremities: 1.148915187376726
Первый квартиль в столбце temperature of extremities: 1.0
Третий квартиль в столбце temperature of extremities: 3.0
Межквартильный размах в столбце temperature of extremities: 2.0

Выбросы в столбце temperature of extremities Series([], Name: temperature of extremities, dtype: float64)
---------------------------------------------------------

Максимум в столбце pain: 5.0
Минимум в столбце pain: 1.0
Размах в столбце pain: 4.0
Размах в столбце pain: 4.0
Среднее арифметическое в столбце pain: 2.6948051948051948
Мода в столбце pain: 3.0
Медиана в столбце pain: 3.0
Стандартное отклонение в столбце pain: 1.2171321810373048
Дисперсия в столбце pain: 1.4814107461166264
Первый квартиль в столбце pain: 2.0
Третий квартиль в столбце pain: 3.0
Межквартильный размах в столбце pain: 1.0

Выбросы в столбце pain 0      5.0
15     5.0
20     5.0
30     5.0
46     5.0
114    5.0
118    5.0
135    5.0
163    5.0
220    5.0
228    5.0
231    5.0
240    5.0
247    5.0
273    5.0
275    5.0
Name: pain, dtype: float64
---------------------------------------------------------

Максимум в столбце outcome: 3.0
Минимум в столбце outcome: 1.0
Размах в столбце outcome: 2.0
Размах в столбце outcome: 2.0
Среднее арифметическое в столбце outcome: 1.4805194805194806
Мода в столбце outcome: 1.0
Медиана в столбце outcome: 1.0
Стандартное отклонение в столбце outcome: 0.6975285898118848
Дисперсия в столбце outcome: 0.4865461336049567
Первый квартиль в столбце outcome: 1.0
Третий квартиль в столбце outcome: 2.0
Межквартильный размах в столбце outcome: 1.0

Выбросы в столбце outcome Series([], Name: outcome, dtype: float64)
---------------------------------------------------------

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.

Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [ ]:
df = pd.read_csv('horse_data.csv', header=None, usecols=[0, 1, 3, 4, 5, 6, 10, 22], names=['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome'], na_values='?')
df.isna().sum()

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [ ]:
df.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [ ]:
# Заполнение пропусков по наличии или отсутствии операции логично сделать в разрезе значений возраста и боли по моде

df['surgery?'] = df['surgery?'].fillna(df.groupby(['Age', 'pain'])['surgery?'].transform(lambda x: x.mode()[0]))

In [ ]:
# Сделал предположение, что температура может изменяться от пульса т.к. в описании поля есть понятия шок, а в зависимости от шока меняется пульс

df['rectal temperature'] = df['rectal temperature'].fillna(df.groupby(['pulse'])['rectal temperature'].transform('median'))

In [ ]:
# Сделал предположение, что пульс зависит от различных температур и боли

df['pulse'] = df['pulse'].fillna(df.groupby(['rectal temperature', 'temperature of extremities', 'pain'])['pulse'].transform('median'))

In [ ]:
# Сделал предположение что частота дыхания зависит от боли и пульса

df['respiratory rate'] = df['respiratory rate'].fillna(df.groupby(['pain', 'pulse'])['respiratory rate'].transform('median'))

In [ ]:
# Сделал предположение, что температура конечностей зависит от возраста и была ли операция или нет

df['temperature of extremities'] = df['temperature of extremities'].fillna(df.groupby(['Age', 'surgery?'])['temperature of extremities'].transform('median'))

In [ ]:
# Сделал предположение, что боль зависит от того была ли операция

df['pain'] = df['pain'].fillna(df.groupby(['surgery?'])['pain'].transform(lambda x: x.mode()[0]))

In [ ]:
# Сделал предположение, что исход зависит от возраста и была ли операция

df['outcome'] = df['outcome'].fillna(df.groupby(['surgery?', 'Age'])['outcome'].transform(lambda x: x.mode()[0]))

In [ ]:
# Базовые метрики не сильно отличаются от начальных 

df.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,300.000000,300.000000,280.000000,279.000000,271.000000,279.000000,300.000000,300.000000
mean,1.396667,1.640000,38.178929,71.985663,30.494465,2.327957,2.840000,1.550000
std,0.490023,2.173972,0.687668,28.517188,17.050442,1.034029,1.270083,0.736642
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,28.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000